@page
@{
    ViewData["Title"] = "Live Arbitrages";
}

<h1>Live Arbitrages</h1>
<table>
    <thead>
        <tr>
            <th>BuyMarket (BuyPrice)</th>
            <th>SellMarket (SellPrice)</th>
            <th>Percentage</th>
            <th>Datetime</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Kraken</td>
            <td>Coinbase</td>
            <td>0,05%</td>
            <td>2017-01-01 20:00:45</td>
        </tr>
        <tr>
            <td>Bittrex</td>
            <td>Coinbase</td>
            <td>-0.13%</td>
            <td>2017-06-12 14:33:12</td>
        </tr>
    </tbody>
</table>